#app{
  position: absolute;
  z-index: 1;
  -webkit-animation: blur_out .25s;
  animation: blur_out .25s;
  animation-fill-mode: forwards;
}

body.modal{
  #app{
    -webkit-animation: blur_in .5s;
    animation: blur_in .5s;
    animation-fill-mode: forwards;
  }
}

#app.active{
  cursor: move;
}

@-webkit-keyframes blur_in {
  1% { -webkit-filter: blur(0px); }
  0%, 100% { -webkit-filter: blur(5px); }
}

@keyframes blur_in {
  0% {
    filter: blur(0)
  }
  100% {
    filter: blur(5px);
  }
}

@-webkit-keyframes blur_out {
  0% { -webkit-filter: blur(5px); }
  100% { -webkit-filter: blur(0); }
}

@keyframes blur_out {
  0% {
    filter: blur(5px)
  }
  100% {
    filter: blur(0);
  }
}
