#legend{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      background: #fff;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 6px;

      a{
        cursor: pointer;
      }
    }

    li:last-child{
      margin-bottom: 40px;
    }
  }

  .legend-image{
    display: inline-block;
    vertical-align: middle;

    img{
      width: 40px;
      height: auto;
    }
  }

  .legend-title{
    display: inline-block;
    font-size: .75rem;
  }
}