html, body {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  overflow: hidden;
  padding: 0;
  margin: 0; }

h3 {
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Caveat Brush', cursive; }

h4 {
  font-weight: normal;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #555; }

p {
  line-height: 140%;
  font-size: .9rem;
  margin: 1rem 0; }

#introduction {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5); }
  #introduction #description {
    opacity: 1;
    position: fixed;
    width: 300px;
    background: #fff;
    min-height: 20px;
    padding: 40px;
    left: 50%;
    margin-left: -190px;
    top: 80px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 1000; }

#app {
  position: absolute;
  z-index: 1;
  -webkit-animation: blur_out .25s;
  animation: blur_out .25s;
  animation-fill-mode: forwards; }

body.modal #app {
  -webkit-animation: blur_in .5s;
  animation: blur_in .5s;
  animation-fill-mode: forwards; }

#app.active {
  cursor: move; }

@-webkit-keyframes blur_in {
  1% {
    -webkit-filter: blur(0px); }
  0%, 100% {
    -webkit-filter: blur(5px); } }
@keyframes blur_in {
  0% {
    filter: blur(0); }
  100% {
    filter: blur(5px); } }
@-webkit-keyframes blur_out {
  0% {
    -webkit-filter: blur(5px); }
  100% {
    -webkit-filter: blur(0); } }
@keyframes blur_out {
  0% {
    filter: blur(5px); }
  100% {
    filter: blur(0); } }
.row {
  overflow-x: visible;
  overflow-y: visible;
  white-space: nowrap;
  font-size: 0; }

.tile {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  /*-webkit-backface-visibility: hidden;*/
}

.click-map {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10; }
  .click-map .tooltip {
    position: absolute;
    background: #fff;
    padding: 32px;
    color: #000;
    font-size: 1rem;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    max-width: 780px;
    min-width: 750px;
    top: -4000px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .click-map .tooltip img {
      width: 100%;
      height: auto; }
    .click-map .tooltip h4 {
      width: 100%;
      white-space: normal;
      font-family: 'Caveat Brush', cursive;
      font-size: 5.4rem; }

.active .click-map .tooltip {
  max-width: 180px;
  min-width: 150px;
  padding: 12px; }
  .active .click-map .tooltip h4 {
    width: 100%;
    white-space: normal;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.4rem; }

@media (min-width: 1024px) {
  .click-map:hover .tooltip {
    display: block;
    opacity: 1;
    top: auto;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); } }
.click-map:before {
  position: relative;
  content: '\f0d7';
  font-family: 'FontAwesome';
  color: white;
  font-size: 4rem;
  line-height: 6rem;
  margin-top: -6rem;
  text-align: center;
  left: 50%;
  margin-left: -4.5rem;
  width: 6rem;
  height: 6rem;
  background-color: #eb6005;
  border-radius: 9rem;
  display: block;
  -moz-animation: pulse-large 1s infinite;
  -webkit-animation: pulse-large 1s infinite;
  animation: pulse-large 1s infinite;
  /*-webkit-backface-visibility: hidden;*/
  -webkit-transform: translateZ(0) scale(1, 1); }

.click-map:hover:before {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite; }

.active .click-map:before {
  font-size: 2rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  margin-left: -1.5rem;
  -moz-animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1); }
.active .click-map:hover:before {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); } }
@-webkit-keyframes pulse-large {
  0% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 85px rgba(255, 255, 255, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); } }
@keyframes pulse-large {
  0% {
    -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 85px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 85px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); } }
body.modal #modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999; }
  body.modal #modal-container #modal {
    opacity: 1;
    position: fixed;
    width: 300px;
    background: #fff;
    min-height: 20px;
    padding: 40px;
    left: 50%;
    margin-left: -190px;
    top: 80px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 1000; }
  @media (max-width: 767px) {
    body.modal #modal-container #modal {
      width: 230px;
      top: 20px;
      margin-left: -155px; }
      body.modal #modal-container #modal img {
        display: none; } }
  body.modal #modal-container .modal-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    top: -1rem;
    right: -1rem;
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;
    line-height: 2rem;
    font-family: 'Caveat Brush', cursive;
    color: #000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.45); }

#modal-container {
  z-index: 0; }
  #modal-container #modal {
    opacity: 0;
    top: -100px;
    -webkit-transition: top .5s;
    transition: top .5s; }

.btn {
  display: inline-block;
  height: auto;
  border-radius: 4px;
  line-height: 1.5em;
  white-space: normal;
  padding: 10px 12px;
  margin: 1rem 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  color: #fff;
  background-color: #eb6005;
  text-decoration: none;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.btn:hover {
  opacity: .8; }

.text-center {
  text-align: center; }

.mb20 {
  margin-bottom: 20px; }

.block {
  position: relative;
  width: 100%;
  display: block; }

.visible {
  overflow: visible;
  height: 100vh; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; }

  .block-xs {
    display: block; } }
#legend {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  #legend ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #legend ul li {
      background: #fff;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 2px; }
      #legend ul li a {
        cursor: pointer; }
  #legend .legend-image {
    display: inline-block;
    vertical-align: middle; }
    #legend .legend-image img {
      width: 40px;
      height: auto; }
  #legend .legend-title {
    display: inline-block;
    font-size: .75rem; }

/*# sourceMappingURL=style.css.map */
